<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxlvyou.dao.ILiuyanDao">
	<!-- 查询所有用户信息 -->
	 <resultMap type="liuyan" id="liuyan">
		<id column="id" javaType="_int" property="id"/>
		<result column="content" javaType="string" property="content"/>
		<result column="name" javaType="string" property="name"/>
		<result column="tel" javaType="string" property="tel"/>
		<result column="date" javaType="string" property="date"/>	
		
	</resultMap> 
	
	 <select id="selectAll" resultMap="liuyan">
		select * from liuyan 
	</select>

	
	<insert id="insert" parameterType="liuyan">
		insert into liuyan(tel,name,content,date) values(#{tel},#{name},#{content},now())
	</insert>
	<!--<select id="selectByDname" resultMap="d">
		select * from doctor where dname=#{dname} and oid=#{oid}
	</select> -->
	
	
</mapper>