<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<!-- 读取数据库连接的数据库文件 -->
	<properties resource="jdbc.properties"></properties>
	<!-- 映射文件中使用的类起别名 -->
	<typeAliases>
		<typeAlias type="com.sxlvyou.pojo.Product" alias="product"/>
		<typeAlias type="com.sxlvyou.pojo.Liuyan" alias="liuyan"/>
		<!-- <typeAlias type="com.hospital.regsystem.pojo.Officelist" alias="officelist"/>
		<typeAlias type="com.hospital.regsystem.pojo.Office" alias="office"/>
		<typeAlias type="com.hospital.regsystem.pojo.Order" alias="order"/>
		<typeAlias type="com.hospital.regsystem.pojo.Doctor" alias="doctor"/>
		<typeAlias type="com.hospital.regsystem.pojo.Notice" alias="notice"/> -->
	</typeAliases>
	
	<mappers>
		 <mapper resource="com/sxlvyou/dao/product_mapper.xml" />
		<mapper resource="com/sxlvyou/dao/liuyan_mapper.xml" />
		<!--<mapper resource="com/hospital/regsystem/dao/officelist_mapper.xml" />
		<mapper resource="com/hospital/regsystem/dao/office_mapper.xml" />
		<mapper resource="com/hospital/regsystem/dao/order_mapper.xml" />
		<mapper resource="com/hospital/regsystem/dao/doctor_mapper.xml" />
		<mapper resource="com/hospital/regsystem/dao/notice_mapper.xml" /> -->
	</mappers>
</configuration>